<div class="container col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-3" >
<div class="login-div">
  <form class="form-horizontal">
    {{#if loginFailed}}
    <div class="has-error">
      <label class="control-label" >Invalid username or password.</label>
    </div>
    {{/if}}
    {{#if isSlowConnection}}
      <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
    {{/if}}
    <h3>Login</h3>
    <div class="control-group">

      <div class="controls">
        {{input value=username type="text" id="inputUsername" class="form-control" placeholder="username"}}
      </div>
    </div>
    <div class="control-group">

      <div class="controls">
        {{input value=password type="password" id="inputPassword" class="form-control" placeholder="password"}}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button {{bindAttr disabled="isProcessing"}} {{action "login" bubbles=false}} class="btn btn-primary col-md-4">Iniciar sesión</button>

      </div>
    </div>
  </form>
</div>
</div>
{{outlet}}
